@font-face {
  font-family: comfortaa;
  src: url('./assets/fonts/Comfortaa-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: limelight;
  src: url('./assets/fonts/Limelight-Regular.ttf');
  font-display: swap;
};

@import '~@csstools/normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ac4ba8;
}

a:visited { color: #833980; }

/* rgb(25, 25, 84)
rgb(43, 25, 88) */
body {
  background-color: rgb(35, 15, 75);
  color: aliceblue;
  margin-inline: auto;
  width: clamp(318px, calc(4rem + 80vw), 960px);
}

main {
  margin-top: 1rem;
  display: grid;
  place-items: center;
  height: clamp(336px, calc(1rem + 75vh), 1080px);
  font-family: comfortaa;
  row-gap: 1rem;
}

h1,
h2,
h3,
h4,
p,
span { cursor: default; }

h1 {
  font-size: clamp(0.75rem, calc(0.25rem + 2.5vw), 1.5rem);
  font-family: limelight;
  margin-block: clamp(0.5rem, calc(0.1rem + 2vh), 2rem);
  margin-inline: 0.25rem;
  color: rgb(180, 180, 240);
  text-align: start;
}

h2 {
  font-size: clamp(0.75rem, calc(0.25rem + 4vw), 2rem);
  font-weight: 500;
  text-align: center;
}

h3 { font-weight: 400; }

h4 {
  font-weight: 300;
  color: rgba(240, 248, 255, 0.5);
}

p { font-weight: 400; }

/* <-------------------------Weather Information-------------------------> */
.temperature {
  display: grid;
  place-items: center
}

.temp { font-size: clamp(4rem, calc(4rem + 4vw), 8rem); }

.feels-like {
  font-size: clamp(0.8rem, calc(0.5rem + 2vw), 1rem);
  color: rgba(240, 248, 255, 0.5);
}

.main-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: clamp(318px, calc(6rem + 70vw), 500px);
}

.important {
  display: grid;
  place-items: center;
}

.percentage {
  align-self: end;
  font-size: 1.8rem;
  width: 80px;
  text-align: center;
}

.pop {
  display: grid;
  place-items: center;
  height: 7rem;
  align-self: end;
}

.description,
.chance {
  align-self: end;
  font-size: clamp(0.9rem, calc(0.5rem + 2.5vw), 1.5rem);
  text-align: center;
}

.more-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: clamp(0.5rem, calc(0.25rem + 2.5vh), 2rem);
  font-size: clamp(0.8rem, calc(0.25rem + 3vw), 1.1rem);
  width: clamp(318px, calc(6rem + 70vw), 720px);
}

.more-info > div { text-align: center; }

/* <-------------------------Search bar-------------------------> */
.search {
  display: grid;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
  font-family: comfortaa;
  font-size: clamp(0.9rem, calc(0.25rem + 3vw), 1.2rem);
  border: none;
  border-radius: 3rem;
  padding-block: clamp(0.5rem, calc(0.25rem + 3vw), 0.75rem);
  padding-inline: 2rem;
  background-color: rgb(20, 10, 40);
  color: aliceblue;
  grid-column: 1;
  grid-row: 1;
  width: clamp(240px, calc(1rem + 70vw), 360px);
}

.search-svg {
  margin-left: 0.6rem;
  grid-column: 1;
  grid-row: 1;
  height: clamp(1rem, calc(0.25rem + 10vw), 1.3rem);
  width: clamp(1rem, calc(0.25rem + 10vw), 1.3rem);
}

.clear {
  margin-right: 0.6rem;
  grid-row: 1;
  grid-column: 1;
  width: 1rem;
  justify-self: end;
}

/* <-------------------------Loading Animation-------------------------> */

.overlay {
  position: absolute;
  display: grid;
  place-items: center;
  height: clamp(336px, calc(1rem + 75vh), 1080px);
  width: clamp(318px, calc(4rem + 80vw), 960px);
  background-color: rgb(35, 15, 75);
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 6px solid aliceblue;
  border-top-color: rgb(35, 15, 75);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}